node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Google play account service credentials
google-play-key.json

.eslintcache

# Test coverage
coverage/
junit.xml
